<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="h-r5XIe0T_hlCkHMJh9bbi83MKmf2Rl41oB6kjZGc1Y" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Joseph Thibeault<br />
                  Web Developer<br />
                  info@ironhorsewebsolutions.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/jrthib/">github.com/jrthib</a><br />
                  <a href="http://twitter.com/guitarwizard/">twitter.com/guitarwizard</a><br />
                  <a href="http://stackoverflow.com/users/2147097/jrthib">stackoverflow.com/users/2147097/jrthib</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
